In [10]:
import pickle
import numpy as np
import pandas as pd

In [11]:
X = data = pickle.load(open('merged_earnings_df.pickle', 'rb'))
X

,INSTNM,STABBR,ACCREDAGENCY,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,REGION,...,UG25ABV,COMPL_RPY_1YR_RT,COMPL_RPY_3YR_RT,COMPL_RPY_5YR_RT,COMPL_RPY_7YR_RT,GRAD_DEBT_MDN,PRGMOFR,YEAR,COSTT4,MD_EARN_AVG
0,Alabama A & M University,AL,NaN,NaN,Main campus,1.0,bachelor,Graduate,Public,Southeast,...,NaN,NaN,NaN,NaN,NaN,15496.5,NaN,2002.0,NaN,26517.618782
1,University of Alabama at Birmingham,AL,NaN,NaN,Main campus,1.0,bachelor,Graduate,Public,Southeast,...,NaN,NaN,NaN,NaN,NaN,10968.5,NaN,2002.0,NaN,36806.454870
2,University of Alabama in Huntsville,AL,NaN,NaN,Main campus,1.0,bachelor,Graduate,Public,Southeast,...,NaN,NaN,NaN,NaN,NaN,12725.0,NaN,2002.0,NaN,41049.273875
3,Alabama State University,AL,NaN,NaN,Main campus,1.0,bachelor,Graduate,Public,Southeast,...,NaN,NaN,NaN,NaN,NaN,15644.0,NaN,2002.0,NaN,21850.517876
4,The University of Alabama,AL,NaN,NaN,Main campus,1.0,bachelor,Graduate,Public,Southeast,...,NaN,NaN,NaN,NaN,NaN,14500.0,NaN,2002.0,NaN,37548.948195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11340,Pierpont Community and Technical College,WV,NaN,NaN,Main campus,1.0,associate,Associate,Public,Southeast,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.0,NaN,25917.946720
11341,University of California-Merced,CA,NaN,NaN,Main campus,1.0,bachelor,Graduate,Public,Far West,...,NaN,NaN,NaN,NaN,NaN,5500.0,NaN,2008.0,NaN,37801.274070
11342,Pima Medical Institute-Las Vegas,NV,NaN,NaN,Not main campus,9.0,certificate,Associate,Private for-profit,Far West,...,NaN,0.530414,NaN,NaN,NaN,7125.0,9.0,2008.0,NaN,27352.141400
11343,Johnson & Wales University-Charlotte,NC,NaN,NaN,Not main campus,4.0,associate,Bachelor's,Private nonprofit,Southeast,...,NaN,0.834176,NaN,NaN,NaN,17125.0,NaN,2008.0,NaN,32679.150212
11344,West Hills College-Lemoore,CA,NaN,NaN,Main campus,1.0,associate,Associate,Public,Far West,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.0,NaN,24586.194517

In [12]:
categorical_keys = [
    "STABBR",
    "ACCREDAGENCY",
    "PREDDEG",
    "HIGHDEG",
    "CONTROL",
    "REGION",
    "LOCALE",
    "CCBASIC",
    "CCUGPROF",
    "CCSIZSET",
    "RELAFFIL",
   # "ICLEVEL",
]

In [13]:
X = pd.get_dummies(
    X,
    dummy_na=True,
    columns=[*[col for col in categorical_keys if col in X.columns]],
    drop_first=True,
)

In [14]:
list(X.columns)

['INSTNM',
 'HCM2',
 'MAIN',
 'NUMBRANCH',
 'HBCU',
 'MENONLY',
 'WOMENONLY',
 'ADM_RATE',
 'SATVR25',
 'SATVR75',
 'SATMT25',
 'SATMT75',
 'SATWR25',
 'SATWR75',
 'SATVRMID',
 'SATMTMID',
 'SATWRMID',
 'ACTCM25',
 'ACTCM75',
 'ACTEN25',
 'ACTEN75',
 'ACTMT25',
 'ACTMT75',
 'ACTWR25',
 'ACTWR75',
 'ACTCMMID',
 'ACTENMID',
 'ACTMTMID',
 'ACTWRMID',
 'PCIP01',
 'PCIP03',
 'PCIP04',
 'PCIP05',
 'PCIP09',
 'PCIP10',
 'PCIP11',
 'PCIP12',
 'PCIP13',
 'PCIP14',
 'PCIP15',
 'PCIP16',
 'PCIP19',
 'PCIP22',
 'PCIP23',
 'PCIP24',
 'PCIP25',
 'PCIP26',
 'PCIP27',
 'PCIP29',
 'PCIP30',
 'PCIP31',
 'PCIP38',
 'PCIP39',
 'PCIP40',
 'PCIP41',
 'PCIP42',
 'PCIP43',
 'PCIP44',
 'PCIP45',
 'PCIP46',
 'PCIP47',
 'PCIP48',
 'PCIP49',
 'PCIP50',
 'PCIP51',
 'PCIP52',
 'PCIP54',
 'DISTANCEONLY',
 'UGDS',
 'PPTUG_EF',
 'TUITIONFEE_IN',
 'TUITIONFEE_OUT',
 'TUITIONFEE_PROG',
 'INEXPFTE',
 'AVGFACSAL',
 'PFTFAC',
 'PCTPELL',
 'C150_4',
 'PCTFLOAN',
 'UG25ABV',
 'COMPL_RPY_1YR_RT',
 'COMPL_RPY_3YR_RT',
 'COMPL_RPY_5YR_RT',
 'COMPL_RPY_7YR_RT',
 'GRAD_DEBT_MDN',
 'PRGMOFR',
 'YEAR',
 'COSTT4',
 'MD_EARN_AVG',
 'STABBR_AL',
 'STABBR_AR',
 'STABBR_AS',
 'STABBR_AZ',
 'STABBR_CA',
 'STABBR_CO',
 'STABBR_CT',
 'STABBR_DC',
 'STABBR_DE',
 'STABBR_FL',
 'STABBR_FM',
 'STABBR_GA',
 'STABBR_GU',
 'STABBR_HI',
 'STABBR_IA',
 'STABBR_ID',
 'STABBR_IL',
 'STABBR_IN',
 'STABBR_KS',
 'STABBR_KY',
 'STABBR_LA',
 'STABBR_MA',
 'STABBR_MD',
 'STABBR_ME',
 'STABBR_MH',
 'STABBR_MI',
 'STABBR_MN',
 'STABBR_MO',
 'STABBR_MS',
 'STABBR_MT',
 'STABBR_NC',
 'STABBR_ND',
 'STABBR_NE',
 'STABBR_NH',
 'STABBR_NJ',
 'STABBR_NM',
 'STABBR_NV',
 'STABBR_NY',
 'STABBR_OH',
 'STABBR_OK',
 'STABBR_OR',
 'STABBR_PA',
 'STABBR_PR',
 'STABBR_RI',
 'STABBR_SC',
 'STABBR_SD',
 'STABBR_TN',
 'STABBR_TX',
 'STABBR_UT',
 'STABBR_VA',
 'STABBR_VI',
 'STABBR_VT',
 'STABBR_WA',
 'STABBR_WI',
 'STABBR_WV',
 'STABBR_WY',
 'STABBR_nan',
 'PREDDEG_bachelor',
 'PREDDEG_certificate',
 'PREDDEG_nan',
 "HIGHDEG_Bachelor's",
 'HIGHDEG_Graduate',
 'HIGHDEG_nan',
 'CONTROL_Private nonprofit',
 'CONTROL_Public',
 'CONTROL_nan',
 'REGION_Great Lakes ',
 'REGION_Mid East ',
 'REGION_New England ',
 'REGION_Outlying Areas ',
 'REGION_Plains ',
 'REGION_Rocky Mountains ',
 'REGION_Southeast ',
 'REGION_Southwest ',
 'REGION_nan',
 'LOCALE_11.0',
 'LOCALE_12.0',
 'LOCALE_13.0',
 'LOCALE_21.0',
 'LOCALE_22.0',
 'LOCALE_23.0',
 'LOCALE_31.0',
 'LOCALE_32.0',
 'LOCALE_33.0',
 'LOCALE_41.0',
 'LOCALE_42.0',
 'LOCALE_43.0',
 'LOCALE_nan',
 'CCBASIC_1.0',
 'CCBASIC_2.0',
 'CCBASIC_3.0',
 'CCBASIC_4.0',
 'CCBASIC_5.0',
 'CCBASIC_6.0',
 'CCBASIC_7.0',
 'CCBASIC_8.0',
 'CCBASIC_9.0',
 'CCBASIC_10.0',
 'CCBASIC_11.0',
 'CCBASIC_14.0',
 'CCBASIC_15.0',
 'CCBASIC_16.0',
 'CCBASIC_17.0',
 'CCBASIC_18.0',
 'CCBASIC_19.0',
 'CCBASIC_20.0',
 'CCBASIC_21.0',
 'CCBASIC_22.0',
 'CCBASIC_23.0',
 'CCBASIC_24.0',
 'CCBASIC_26.0',
 'CCBASIC_27.0',
 'CCBASIC_29.0',
 'CCBASIC_30.0',
 'CCBASIC_32.0',
 'CCBASIC_nan',
 'CCUGPROF_0.0',
 'CCUGPROF_1.0',
 'CCUGPROF_2.0',
 'CCUGPROF_3.0',
 'CCUGPROF_4.0',
 'CCUGPROF_5.0',
 'CCUGPROF_6.0',
 'CCUGPROF_7.0',
 'CCUGPROF_8.0',
 'CCUGPROF_9.0',
 'CCUGPROF_10.0',
 'CCUGPROF_11.0',
 'CCUGPROF_12.0',
 'CCUGPROF_13.0',
 'CCUGPROF_14.0',
 'CCUGPROF_15.0',
 'CCUGPROF_nan',
 'CCSIZSET_1.0',
 'CCSIZSET_2.0',
 'CCSIZSET_3.0',
 'CCSIZSET_4.0',
 'CCSIZSET_5.0',
 'CCSIZSET_6.0',
 'CCSIZSET_7.0',
 'CCSIZSET_8.0',
 'CCSIZSET_9.0',
 'CCSIZSET_10.0',
 'CCSIZSET_11.0',
 'CCSIZSET_12.0',
 'CCSIZSET_13.0',
 'CCSIZSET_14.0',
 'CCSIZSET_15.0',
 'CCSIZSET_16.0',
 'CCSIZSET_17.0',
 'CCSIZSET_nan']

In [15]:
X.loc[:, "MD_EARN_AVG"].isna().value_counts()

False    11339
Name: MD_EARN_AVG, dtype: int64

In [16]:
y = X.MD_EARN_AVG
X.drop("MD_EARN_AVG", axis=1, inplace=True)

In [17]:
X.YEAR.value_counts()

2007.0    1678
2006.0    1677
2005.0    1667
2008.0    1587
2003.0    1580
2004.0    1576
2002.0    1574
Name: YEAR, dtype: int64

In [18]:
with open("clean_data.pickle", "wb") as f:
    pickle.dump(
        {
            "X": X,
            'y': y
        },
        f,
    )

In [19]:
with open('clean_data.pickle','rb') as f:
    d = pickle.load(f)
    X = d['X']
    y = d['y']
    del(d)

In [20]:
X.isna()

,INSTNM,HCM2,MAIN,NUMBRANCH,HBCU,MENONLY,WOMENONLY,ADM_RATE,SATVR25,SATVR75,...,CCSIZSET_9.0,CCSIZSET_10.0,CCSIZSET_11.0,CCSIZSET_12.0,CCSIZSET_13.0,CCSIZSET_14.0,CCSIZSET_15.0,CCSIZSET_16.0,CCSIZSET_17.0,CCSIZSET_nan
0,False,True,False,False,True,True,True,False,True,True,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,True,True,True,False,True,True,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11340,False,True,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
11341,False,True,False,False,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11342,False,True,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
11343,False,True,False,False,True,True,True,False,True,True,...,False,False,False,False,False,False,False,False,False,False
11344,False,True,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False

In [21]:
non_empty_cols = (X.isna().sum() / X.shape[0]) != 1
non_empty_col_names = [col for col, v in non_empty_cols.to_dict().items() if v]
X = X[non_empty_col_names]
col_pct = (X.isna().sum() / X.shape[0])
col_pct_nonzero = pd.Series({c: p for c, p in col_pct.to_dict().items() if p > 0})
col_pct_nonzero.sort_values(ascending=False)

TUITIONFEE_PROG     0.983332
PRGMOFR             0.983244
ACTWR75             0.983244
ACTWRMID            0.983244
ACTWR25             0.983244
SATWR25             0.899462
SATWR75             0.899462
SATWRMID            0.899462
PCTPELL             0.860041
COMPL_RPY_1YR_RT    0.757298
ACTMTMID            0.617515
ACTMT75             0.617515
ACTMT25             0.617427
ACTEN75             0.616633
ACTENMID            0.616633
ACTEN25             0.616545
UG25ABV             0.565747
ACTCMMID            0.532498
ACTCM75             0.532498
ACTCM25             0.532410
SATVRMID            0.504101
SATVR75             0.504013
SATVR25             0.504013
SATMTMID            0.502778
SATMT75             0.502778
SATMT25             0.502690
ADM_RATE            0.368904
C150_4              0.354529
GRAD_DEBT_MDN       0.136520
TUITIONFEE_OUT      0.022224
TUITIONFEE_IN       0.022224
AVGFACSAL           0.005821
INEXPFTE            0.002381
PFTFAC              0.001499
dtype: float64

In [22]:
naive_impute_avg = [
    "PFTFAC",
    "INEXPFTE",
    "AVGFACSAL",
    "GRAD_DEBT_MDN",
    "C150_4",
    "ADM_RATE",
]
for col in naive_impute_avg:
    X.loc[:,f"{col}_ISNA"] = X[col].isna().astype(int)
    X.loc[:,col] = X[col].fillna(X[col].mean())

In [23]:
X.loc[:,"TUITION_ISNA"] = X["TUITIONFEE_OUT"].isna().astype(int)

In [24]:
X.loc[:, "TUITIONFEE_IN"] = X["TUITIONFEE_IN"].fillna(value=X["TUITIONFEE_PROG"])
X.loc[:, "TUITIONFEE_OUT"] = X["TUITIONFEE_OUT"].fillna(value=X["TUITIONFEE_PROG"])
X.loc[:, "TUITION_OUT_ISNT_IN"] = (X["TUITIONFEE_IN"] != X["TUITIONFEE_OUT"]).astype(
    int
)
X = X.dropna(subset=["TUITIONFEE_OUT"], how="any", axis="rows")
X = X.drop("TUITIONFEE_PROG", axis=1)
X = X.drop("PRGMOFR", axis=1)
y = y[X.index]

In [25]:
X.shape

(11276, 235)

In [26]:
non_empty_cols = (X.isna().sum() / X.shape[0]) != 1
non_empty_col_names = [col for col, v in non_empty_cols.to_dict().items() if v]
X = X[non_empty_col_names]
col_pct = (X.isna().sum() / X.shape[0])
col_pct_nonzero = pd.Series({c: p for c, p in col_pct.to_dict().items() if p > 0})
col_pct_nonzero.sort_values(ascending=False)

ACTWRMID            0.983239
ACTWR75             0.983239
ACTWR25             0.983239
SATWRMID            0.899166
SATWR25             0.899166
SATWR75             0.899166
PCTPELL             0.859879
COMPL_RPY_1YR_RT    0.757272
ACTMTMID            0.617329
ACTMT75             0.617329
ACTMT25             0.617240
ACTENMID            0.616442
ACTEN75             0.616442
ACTEN25             0.616353
UG25ABV             0.565981
ACTCM75             0.532192
ACTCMMID            0.532192
ACTCM25             0.532104
SATVRMID            0.503991
SATVR75             0.503902
SATVR25             0.503902
SATMTMID            0.502661
SATMT75             0.502661
SATMT25             0.502572
dtype: float64

In [27]:
X['MAIN'] = X.MAIN.replace({'Main campus': 1, 'Not main campus': 0})

In [28]:
X.drop(col_pct_nonzero.index, axis = 1, inplace = True)

In [29]:
#drop those entries without any income
X = X[y!=0]
y = y[y!=0]

#then reset the indices
X.reset_index(drop = True, inplace = True)
y.reset_index(drop = True, inplace = True)

In [30]:
X

,INSTNM,MAIN,NUMBRANCH,ADM_RATE,PCIP01,PCIP03,PCIP04,PCIP05,PCIP09,PCIP10,...,CCSIZSET_17.0,CCSIZSET_nan,PFTFAC_ISNA,INEXPFTE_ISNA,AVGFACSAL_ISNA,GRAD_DEBT_MDN_ISNA,C150_4_ISNA,ADM_RATE_ISNA,TUITION_ISNA,TUITION_OUT_ISNT_IN
0,Alabama A & M University,1,1.0,0.55750,0.0426,0.0019,0.0155,0.0000,0.0000,0.031,...,0,0,0,0,0,0,0,0,0,1
1,University of Alabama at Birmingham,1,1.0,0.91170,0.0000,0.0000,0.0000,0.0006,0.0540,0.000,...,0,0,0,0,0,0,0,0,0,1
2,University of Alabama in Huntsville,1,1.0,0.90500,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,...,0,0,0,0,0,0,0,0,0,1
3,Alabama State University,1,1.0,0.69310,0.0000,0.0000,0.0000,0.0000,0.0393,0.000,...,0,0,0,0,0,0,0,0,0,1
4,The University of Alabama,1,1.0,0.84620,0.0000,0.0000,0.0000,0.0041,0.1192,0.000,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11196,Pierpont Community and Technical College,1,1.0,0.67493,0.0000,0.0000,0.0000,0.0000,0.0000,0.059,...,0,0,0,0,0,1,1,1,0,1
11197,University of California-Merced,1,1.0,0.89570,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,...,0,0,0,0,0,0,1,0,0,1
11198,Pima Medical Institute-Las Vegas,0,9.0,0.67493,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,...,0,0,0,0,0,0,1,1,1,0
11199,Johnson & Wales University-Charlotte,0,4.0,0.63370,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,...,0,0,0,0,0,0,1,0,0,0
11200,West Hills College-Lemoore,1,1.0,0.67493,0.0000,0.0000,0.0000,0.0000,0.0000,0.000,...,0,0,0,0,0,1,1,1,0,0

In [38]:
nonzero_var_cols = []
for col in X.columns:
    if min(X[col]) == max(X[col]):
        print(col)
        print(min(X[col]))
    else:
        nonzero_var_cols.append(col)

STABBR_MH
0
STABBR_nan
0
PREDDEG_nan
0
HIGHDEG_nan
0
CONTROL_nan
0
REGION_nan
0
LOCALE_nan
0
CCBASIC_nan
0
CCUGPROF_nan
0
CCSIZSET_nan
0

In [39]:
X = X[nonzero_var_cols]

In [40]:
with open("clean_notna_data.pickle", "wb") as f:
    pickle.dump(
        {
            "X": X,
            'y': y
        },
        f,
    )